body{
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../imgs/background.jpg");
  background-size: cover;
}

.page-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
}

.separator{
  border: solid rgb(133, 122, 122) 1px;
  box-shadow: 0 0 10px rgb(133, 122, 122);
  border-radius: 100px;
  width: 100%;
  position: absolute;
}

.logo-container{
  display: flex;
  justify-content: center;
  height: 30%;
}

.server-browser{
  border: solid 1px white;
  background-color: rgba(151, 151, 151, 0.253);
  color: white;
}

.login-container{
  display: flex;
  justify-content: center;
  height: 100%;
}

.input{
  background-color: rgba(151, 151, 151, 0.253);
  color: rgb(0, 0, 0);
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1%;
  margin: 1%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: solid 1px white;
}

.login{
  border: white solid 1px;
  border-radius: 3px;
  box-shadow: 0 0 15px white;
  width: 20%;
  height: 100%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition-duration: 2000ms;
  backdrop-filter: blur(0.2rem);
}

.role-btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn{
  border: solid white 1px;
  border-radius: 2px;
  transition-duration: 500ms;
  cursor: pointer;
  font-size: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.btn:hover{
  color: black;
  background-color: white;
  box-shadow: 0 0 15px white;
}
